
<link rel="stylesheet" type="text/css" href="/www/css/chatList.css">

<div id="all">
		<div class="list-group" ng-repeat="match in matches">
			<a id="match" ng-click="chatWith(match)" class="list-group-item">	
				<div class="row">			
					<div class="col-xs-4" id="other">
						<img id="img" ng-src="{{match.avatar_url}}" class="img-responsive">
						</img>
						<div id="name">
							{{match.nickname}}
						</div>
					</div>

					<div class="col-xs-8">
						<ul class="list-group" ng-repeat="message in match.lastChats">
								<li class="list-group-item">
									<div class="row">
										<div id="postAuthor" class="col-xs-5">
											{{message.nickname}}: 
										</div> 
										<div id="postMsg" class="col-xs-7">
											{{message.message}}
										</div> 
									</div>
							</li>
						</ul>
						
						<h2 ng-if="match.lastChats== null || match.lastChats.length==0">¿No hablaron aún? </h2>
						<p ng-if="match.lastChats== null || match.lastChats.length==0">Dá el primer paso... escribile un mensaje</p>
					</div>
				</div>
			</a>
		</div>

</div>	

