.botones-encuentro{    
    text-align: center;
}

.botones-encuentro a{    
    background-color: transparent;
    border: none;
    min-width: 90px;
    height: 80px;
    margin: 0px;
}
    
.botones-encuentro .btn-app>.fa{    
    font-size:-webkit-xxx-large; /*xx-large*/
}

.botones-encuentro .btn-app > .rechazo {
    color: #DD4B39;
}

.botones-encuentro .btn-app > .eleccion {
    color: #0DBD0C;
}

.buscando{
    margin-bottom: 40px;
    margin-top: 40px;
    width: 44px;
	height: 44px;
    border: none;

}

