
<head>
	<link rel="stylesheet" type="text/css" href="/www/css/partySearch.css">
	<meta name = "viewport" content = "width = device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;">
</head>

<div id="all">

	<div id="searchBar2" class="row"> 
		<div id="secc" class="col-xs-4">
			<div id="menuOption">
				<button id="btn" ng-click="enableTodayPartysMenu()" class="btn btn-success">
					<img id="icon" src="/dist/img/icons/calendarIcon.png" class="img-responsive" alt="Cinque Terre"></img>
				</button>
	
				<div id="text"> Hoy </div>
			</div>
		</div>

		<div id="secc2" class="col-xs-4">			
			<div id="menuOption">
				<button id="btn" ng-click="enableCloseByPartysMenu()" class="btn btn-success">
					<img id="icon" src="/dist/img/icons/mpIcon.png" class="img-responsive" alt="Cinque Terre"></img>		
				</button>

				<div id="text"> cerca </div>
			</div>
		</div>

		<div id="secc3" class="col-xs-4">		
			<div id="menuOption">
				<button id="btn" ng-click="enablePartyTypesMenu()" class="btn btn-success">
					<img id="icon" src="/dist/img/icons/partyIcon.png" class="img-responsive" alt="Cinque Terre"></img>		
				</button>
				
				<div id="text"> todas </div>
			</div>
		</div>
	</div>

	<div id="menuTodaysPartys" ng-show="showMenu == 1">
		<div id="dateForm">
			<label>Fecha y duración</label>

			<div class="form-group" id="dateSelect">
				<div class="input-group">
					<div class="input-group-addon">
						<i class="fa fa-clock-o"></i>
					</div>
				
					<input date-range-picker class="form-control pull-right  date-picker" type="text" ng-model="datePicker.date" options="datePicker.options" />
				</div>
			</div>

			<div class="form-group" id="dateButton">
				<button id="okBtn" ng-click="findTodayPartys()" class="btn btn-success">
					<img src="/dist/img/icons/go.png" class="img-responsive" alt="Cinque Terre"></img>
				</button>
			</div>
		</div>
	</div>

	<div id="menuCloseByPartys" ng-show="showMenu == 2">

		<div id = "closeBySelection">
			<div id="current">Initializing...</div>

			<div id="map_canvas" style="width:300px; height:300px"></div>
			<meta name = "viewport" id="mapView">			
		</div>

		<div id = "closeBySelection">
			max: 
			<input id="toleranceForm" class="form-control-unstyled"></input>
			Km

			<button id="okBtn" ng-click="findCloseByPartys()" class="btn btn-success-unstyled">
				<img id="iconOk" src="/dist/img/icons/go.png" class="img-responsive" alt="Cinque Terre"></img>
			</button>
		</div>
	</div>

	<div id="menuPartyTypes" ng-show="showMenu == 3">
				<div class="form-group">
					<label>Tipo de fiesta: </label> <span ng-repeat="item in selectedItems" >{{item.text + ($last?'':', ') }}</span>
					<div class="row">
						<pre-go-selector available-items="partyTypes" selected-items="selectedItems"/>
					</div>					
				</div> 

		<div id = "typeSelection">
			<button id="okBtn" ng-click="getAllPartys()" class="btn btn-success">
				<img src="/dist/img/icons/go.png" class="img-responsive" alt="Cinque Terre"></img>
			</button>
		</div>
	</div>


	<div id="ptys">
		<div class="list-group" ng-repeat="pty in promoted_partys">
			<a id="promParty" href="#" class="list-group-item" ng-style="{'background-image':'url({{pty.imagenBanner}})'}">	

				<div id="partyStuff" class="row">
					<div id="dist" class="col-xs-4">
						<img id="icon" src="/dist/img/icons/mpIcon.png" href="#" class="img-responsive" alt="Cinque Terre"></img>	
						<div id="text"> {{pty.dist}}km</div>
					</div>				

					<div id="people" class="col-xs-4">
						<img id="icon" src="/dist/img/icons/pplIcon.png" href="#" class="img-responsive" alt="Cinque Terre"></img>	
						<div id="text"> {{pty.cantidadDeGente}} </div>
					</div>

					<div id="fireIcon" class="col-xs-4" ng-style="{'background-image':'url({{pty.flama}})'}"></div>
				</div>
			</a>
		</div>

		<div class="list-group" ng-repeat="pty in common_partys">
			<a id="commonParty" href="#" class="list-group-item" ng-style="{'background-image':'url({{pty.imagenBanner}})', 'background-size':'cover'}">	

				<div id="partyStuff" class="row">
					<div id="dist" class="col-xs-4">
						<img id="icon" src="/dist/img/icons/mpIcon.png" href="#" class="img-responsive" alt="Cinque Terre"></img>	
						<div id="text"> {{pty.dist}}km</div>
					</div>				
					<div id="people" class="col-xs-4">
						<img id="icon" src="/dist/img/icons/pplIcon.png" href="#" class="img-responsive" alt="Cinque Terre"></img>	
						<div id="text"> {{pty.cantidadDeGente}} </div>
					</div>

					<div id="fireIcon" class="col-xs-4" ng-style="{'background-image':'url({{pty.flama}})'}"></div>
				</div>
			</a>
		</div>
	</div>
</div>	

