<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box">
			<form name="mainForm" novalidate>
				<div class="box-header with-border">
					<h3 class="box-title">Nueva fiesta</h3>
					<div ng-if="!esSugerida" ng-click="toggleEsSugerida()" class="btn btn-default pull-right">Destacar</div>
                        <div ng-if="esSugerida" ng-click="toggleEsSugerida()" class="btn btn-primary pull-right">Destacada <i class="fa fa-fw fa-check"></i></div>
				</div>
				<div class="box-body">
					<div class="form-group">
						<input class="form-control input-lg" type="text" placeholder="Nombre de la fiesta" ng-model="name" required />
					</div>
					<div class="form-group">
						<label>Descripción</label>
						<textarea class="form-control" rows="3" placeholder="Detalles..." ng-model="description" required></textarea>
					</div>
					<div class="form-group">
						<label>Fecha y duración</label>
						<div class="input-group">
							<div class="input-group-addon">
							<i class="fa fa-clock-o"></i>
							</div>
							<input date-range-picker class="form-control pull-right  date-picker" type="text" ng-model="datePicker.date" options="datePicker.options" required/>
						</div><!-- /.input group -->
					</div><!-- /.form group -->
					<div class="form-group">
						<label>Ubicación</label>
						<div class="input-group" ng-show="online">
							<div class="input-group-addon">
								<i class="fa fa-map-marker"></i>
							</div>
							<location-picker id="location" ng-model="location" inner-class="form-control" placeholder="Dirección" ng-required="true"></location-picker>
						</div>
						<div class="input-group" ng-show="!online"> 
							<select ng-options="loc as loc.descripcion for loc in hardLocations track by loc.id" ng-model="location">
							<option value="">-- Elija la ubicacion --</option>
							</select>
						</div>
					</div>
					
					
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<label class="control-label">Banner</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<select id="select" ng-options="img as img.text for img in imageCandidates track by img.url" ng-model="imageSelected" ></select>
							</div>
							<div class="col-md-6">
								<img class="img img-responsive" ng-show="imageSelected!=null" ng-src="{{imageSelected.url}}"  style="height:100px;width:150px;float:left">
							</div>
						</div>
					</div>
					
					<!-- /.form group -->
					<div class="form-group">
						<label>Tipo de fiesta: </label> <span ng-repeat="item in selectedItems" >{{item.text + ($last?'':', ') }}</span>
						<div class="row">
							<pre-go-selector available-items="partyTypes" selected-items="selectedItems"/>
						</div>					
					</div> 
					<div class="form-group">
						<label>Tipo de Musica: </label> <span ng-repeat="item in selectedMusicGenres" >{{item.text + ($last?'':', ') }}</span>
						<div class="row">
							<pre-go-selector available-items="musicGenres" selected-items="selectedMusicGenres"/>
						</div>					
					</div>
				</div><!-- /.box-body -->
				<div class="box-footer">
					<button ng-click="sendForm()" class="btn btn-primary pull-right" ng-disabled="mainForm.$invalid">Guardar</button>
				</div><!-- /.box-footer-->
			</form>
        </div><!-- /.box -->
    </div> 
</div>
