<style>
.profile-user-img{
	width:60px;
}
</style>
<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box">
			<form name="mainForm" ng-submit="sendForm()">
				<div class="box-header with-border">
					<h3 class="box-title">{{party.nombre}}</h3>
				</div>
				<div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img style="width:100%" src="dist/img/clubs/bosque.jpg">
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 25px;">
                        <div class="col-md-10 col-sm-9 col-xs-6">

                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div style="margin-top: -34px;" ng-click="asistir()" class="btn btn-block btn-primary btn-flat">Asistiré <i class="fa fa-fw fa-check"></i></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div style="text-align: center;">
                                <img style="height:40px;" src="dist/img/icons/fire/fireIconRed.png" />
                                <br />
                                <span>Hot</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="text-align: center;">
                                <img style="height: 40px;" src="dist/img/icons/pplIconBlack.png" />
                                <br />
                                <span>{{party.cantidadDeGente}}</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="text-align: center;">
                                <img style="height: 40px;" src="dist/img/icons/mpIcon.png" />
                                <br />
                                <span>{{party.distancia}} km</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div style="text-align: center;">
                                <img style="height: 40px;" src="dist/img/icons/calendarIcon.png" />
                                <br /><span>{{cuando}}</span>
                            </div>
                        </div>
                    </div>

                    <hr />
					<!--<div class="form-group">
						<input class="form-control input-lg" type="text" placeholder="Nombre de la fiesta" ng-model="name" required />
					</div>-->
                    <div class="row">
                        <div class="col-sm-12" style="text-align: center;">
                            <div>{{party.descripcion}}</div>
                        </div>
                    </div>
                    <hr />
					<div class="form-group">
						<label>Fecha y duración</label>
						<!--<div class="input-group">
							<div class="input-group-addon">
							<i class="fa fa-clock-o"></i>
							</div>
							<input date-range-picker class="form-control pull-right  date-picker" type="text" ng-model="datePicker.date" options="datePicker.options" />
						</div>--><!-- /.input group -->
                        <div>-{{fechaHoraActual}}-{{fechaHoraDesde}}-{{fechaHoraHasta}} ,,{{party.inicio | date : 'dd/MM/yyyy HH:mm'}} - {{party.fin | date : 'dd/MM/yyyy HH:mm'}}</div>
					</div><!-- /.form group -->
					<div class="form-group">
						<label>Ubicación</label>
                        <div>
                            {{party.pos.name}} ({{party.pos.lat}}, {{party.pos.long}})
                        </div>
						<!--<div class="input-group">
							<div class="input-group-addon">
								<i class="fa fa-map-marker"></i>
							</div>
							<location-picker id="location" ng-model="location" inner-class="form-control" placeholder="Dirección" ng-required="true"></location-picker>
						</div>-->
						<!--<br/>
							Name: {{location.name}}
							Lat: {{location.lat}}
							Long: {{location.lng}}--> 
					</div><!-- /.form group -->
					<div class="form-group">
						<label>Tipo de fiesta: </label> <span ng-repeat="item in selectedItems" >{{item.text + ($last?'':', ') }}</span>
						<div class="row">
                            <pre-go-selector available-items="selectedItems" selected-items="[]" read-only="true" />
						</div>					
					</div> 
					<div class="form-group">
						<label>Tipo de Musica: </label> <span ng-repeat="item in selectedMusicGenres" >{{item.text + ($last?'':', ') }}</span>
						<div class="row">
                            <pre-go-selector available-items="selectedMusicGenres" selected-items="[]" read-only="true" />
						</div>					
					</div>
					
					<div class="form-group">
						<label ng-if="party.participantes && party.participantes.length>0">Participantes: </label>
						<p ng-if="party.participantes.length==0">Aún no hay participantes registrados</p>
						<div class="row">
							
							<img class="profile-user-img img-responsive img-circle" ng-src="{{p}}" ng-repeat="p in party.participantes" ></img>
						</div>					
					</div>
					
				</div><!-- /.box-body -->
				<div class="box-footer">
					<button type="submit" class="btn btn-primary pull-right">Guardar</button>
				</div><!-- /.box-footer-->
			</form>
        </div><!-- /.box -->
    </div> 
</div>
