<!-- Select2 -->	
    <!--link rel="stylesheet" href="plugins/select2/select2.min.css"-->
	<!-- Select2 -->
	<!--script src="plugins/select2/select2.full.min.js"></script-->
	
<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Nueva fiesta</h3>
                <!--div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
                </div-->
            </div>
			<style>
				.multiselect{
					height:162px;
				}
				
				.multiselect img {
					width:100px; /* sin esto las cajas tienen distintos altos y cuando caen dejan huecos*/
					height:74px;
				}
				
				.multiselect .selected {
					background-color: #99C9E4; /*337ab7*/
					border-top-color: #3c8dbc;
				}
				.multiselect_box:hover{
					cursor:pointer;
				}
				
				.multiselect_box .not-selected:hover{
					border-top-color: #3c8dbc;
					background-color: #F6F6F6;
					cursor:pointer;
				}
				/*.help-text{
					visibility: hidden;
				}
				.help-text:hover{
					visibility: visible;
				}*/
			</style>
            <div class="box-body">
			<div class="box-body">
				<input class="form-control input-lg" type="text" placeholder="Nombre de la fiesta">
				<br>
				<div class="form-group">
					<label>Descripción</label>
					<textarea class="form-control" rows="3" placeholder="Detalles..."></textarea>
				</div> 
				<div class="form-group">
					<label>Tipo de fiesta</label>					
					<div class="row">
						<div class="multiselect col-xs-6 col-md-2 col-lg-2" ng-repeat="type in partyTypes" ng-click="type.selected=!type.selected">
							<div class="box multiselect_box" ng-class="{selected:type.selected, 'not-selected': type.selected==false}" ng-mouseover="type.hover=true" ng-mouseleave="type.hover=false">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive img-circle" ng-src="{{type.icon_uri}}" alt="{{type.name}}">
									<h3 class="profile-username text-center">{{type.name}}</h3>
									<p ng-show="type.hover && type.selected" class="help-text text-muted text-center">(click para deseleccionar)</p>
									<p ng-show="type.hover && !type.selected" class="help-text text-muted text-center">(click para seleccionar)</p>
								</div>
							</div>
						</div>
						<!--div class="col-xs-6 col-md-2 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/dj.png" alt="DJ">
									<h3 class="profile-username text-center">DJ</h3>
									<p class="text-muted text-center">Servicio de DJ</p>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-md-2 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/dj.png" alt="DJ">
									<h3 class="profile-username text-center">DJ</h3>
									<p class="text-muted text-center">Servicio de DJ</p>
								</div>
							</div>
						</div>
						<div class="col-xs-6 col-md-2 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/dj.png" alt="DJ">
									<h3 class="profile-username text-center">DJ</h3>
									<p class="text-muted text-center">Servicio de DJ</p>
								</div>
							</div>
						</div-->
					</div>
				</div> 
				   
				  
				<input class="form-control" type="text" placeholder="Default input">
				<br>
				<input class="form-control input-sm" type="text" placeholder=".input-sm">
			</div><!-- /.box-body -->
            <div class="box-footer">
                Footer
            </div><!-- /.box-footer-->
        </div><!-- /.box -->
    </div> 
</div>

