<!-- Main row -->

<!-- para la visibilidad de los div con ng-if (comenta) o ng-show (oculta) -->

<div class="row">
	<!-- Left col -->
	<section class="col-lg-12 connectedSortable">

		<!-- Chat box -->
		<div class="box box-success"
			style="padding-left: 10px; padding-right: 10px; padding-bottom: 5px; padding-top: 5px;">
			<div class="box-header">
				<i class="fa fa-search"></i>
				<h3 class="box-title">Buscar un Servicio</h3>
			</div>

			<hr>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label>Tipo de Servicio: </label> <span
							ng-repeat="item in selectedServiceGenres">{{item.text +
							($last?'':', ') }}</span>
						<div class="row">
							<div class="col-md-0 col-md-1"></div>
							<pre-go-selector available-items="serviceGenres"
								selected-items="selectedServiceGenres" />
						</div>
					</div>
				</div>
			</div>

			<div class="row" style="padding-bottom: 20px">
				<div class="col-md-12">
					<button type="button" class="btn btn-primary" ng-click="search()"
						aria-label="Left Align">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						Buscar
					</button>
				</div>
			</div>


			<h4 ng-hide="!searchedServices.length">Servicios destacados:</h4>

			<div ng-repeat="serviceGroup in searchedServices">
				<div class="row" ng-hide="!serviceGroup.highlighted.length">
					<div class="col-lg-12">
						<label>{{serviceGroup.text}}</label>
					</div>
				</div>
				<div ng-repeat="service in serviceGroup.highlighted">
					<div class="box box-warning"
						style="background: linear-gradient(to bottom, white, #FFE4C4);"
						ng-click="showService()">
						<div class="row">
							<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
								<div class="container"
									style="vertical-align: middle; display: table-cell;">
									<img class="img-responsive" src={{service.icon_uri}} alt="">
								</div>
							</div>
							<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10 title">
								<h4>
									<b>{{service.name}} ({{service.price}})</b>
								</h4>
								<hr>
								<p>{{service.detail}}</p>
							</div>
						</div>
					</div>

				</div>
			</div>

			<hr>
			<h4 ng-hide="!searchedServices.length">Servicios regulares:</h4>

			<div class="row">
				<div class="col-lg-12" ng-repeat="serviceGroup in searchedServices">
					<div class="row" ng-hide="!serviceGroup.regular.length">
						<div class="col-lg-12">
							<label>{{serviceGroup.text}}</label>
						</div>
					</div>
					<div ng-repeat="service in serviceGroup.regular">
						<div class="col-lg-6">
							<div class="box"
								style="background: linear-gradient(to bottom, white, silver);"
								ng-click="showService()">
								<div class="row">
									<div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
										<div class="container"
											style="vertical-align: middle; display: table-cell;">
											<img class="img" src={{service.icon_uri}} style="width : 30px ; height : 30px ; margin:auto " alt="">
										</div>
									</div>
									<div class="col-xs-6 col-sm-9 col-md-9 col-lg-10"
										style="padding-top: 15px">
										<b>{{service.name}} ({{service.price}})</b>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- /.box (chat box) -->
		<!-- TO DO List -->

	</section>
	<!-- /.Left col -->

</div>
<!-- /.row (main row) -->
