
<style>
#serveceType {
	height: 35px;
}

#publishButton {
	text-align: center;
	min-width: 130px;
}
</style>

<!-- Main row -->
<div class="row">
	<!-- Left col -->
	<section class="col-lg-12">

		<!-- Chat box -->
		<div class="box box-success">
			<form name="serviceForm" novalidate>

				<div class="box-header with-border">
					<i class="fa fa-edit"></i>
					<h3 class="box-title">Ofrecer un Servicio</h3>
				</div>

				<div class="box-body">
					<div class="form-group" show-errors>
						<input type="text" class="form-control input-lg" name="name"
							ng-model="service.name" required
							placeholder="Nombre del Servicio"
							ng-class="{ 'has-error': serviceForm.name.$invalid && serviceForm.name.$dirty }" />
					</div>
					<div>
						<div ng-if="!service.highlighted" ng-click="toggleHighlighted()"
							class="btn btn-default pull-right">Destacar</div>
						<div ng-if="service.highlighted" ng-click="toggleHighlighted()"
							class="btn btn-primary pull-right">
							Destacado <i class="fa fa-fw fa-check"></i>
						</div>
						<br />
						<br />
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<label class="control-label">Imagen</label>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<select id="select" ng-options="img as img.text for img in imageCandidates track by img.url" ng-model="imageSelected" ></select>
							</div>
							<div class="col-md-6">
								<img class="img img-responsive" ng-show="imageSelected!=null" ng-src="{{imageSelected.url}}"  style="height:100px;width:150px;float:left">
							</div>
						</div>
					</div>
					<div class="form-group" show-errors>
						<label class="control-label">Descripcion</label>
						<textarea class="form-control" name="description"
							ng-model="service.description" rows="2"
							placeholder="Descripción resumida de qué se trata tu servicio."
							required
							ng-class="{ 'has-error': serviceForm.description.$invalid && serviceForm.description.$dirty }">
							</textarea>
					</div>
					<div class="form-group" show-errors>
						<label class="control-label">Precio</label>
						<div class="input-group">
							<span class="input-group-addon"> <i class="fa fa-dollar"></i></span>
							<input type="text" class="form-control" name="price"
								ng-model="service.price" required placeholder="Ej: $500/persona"
								ng-class="{ 'has-error': serviceForm.price.$invalid && serviceForm.price.$dirty }" />
						</div>
					</div>
					<div class="form-group" show-errors>
						<label class="control-label">Detalle</label>
						<textarea class="form-control" name="detail"
							ng-model="service.detail" rows="4"
							placeholder="Todo lo que quieras contar sobre el servicio ofrecido."
							required
							ng-class="{ 'has-error': serviceForm.detail.$invalid && serviceForm.detail.$dirty }">
							</textarea>
					</div>

					<button class="btn btn-link pull-right" ng-click="reset()">Borrar</button>


					<div class="col-md-12">
						<div class="form-group">
							<label>Tipo de Servicio: </label> <span
								ng-repeat="item in selectedServiceGenres">{{item.text +
								($last?'':', ') }}</span>
							<div class="row">
								<div class="col-md-0 col-md-1"></div>
								<pre-go-selector available-items="serviceGenres"
									selected-items="selectedServiceGenres" multiple="false" ng-click="selectGenre()" />
							</div>
						</div>
					</div>

				</div>
				<div class="box-footer">
					<button type="submit" ng-click="save()"
						class="btn btn-primary pull-right">Guardar</button>
				</div>
				<!-- /.box-footer-->
			</form>
		</div>


		<!-- /.box (chat box) -->
		<!-- TO DO List -->

	</section>
	<!-- /.Left col -->

</div>
<!-- /.row (main row) -->
