<!-- Main row -->

<!-- style="opacity: 0.4; filter: alpha(opacity=40);" -->
<style type="text/css">
.box-profile,
.list-group-item {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.box-profile:hover,
.box-profile:hover .list-group-item {
	/* background-color: #EEE; */
/* 	opacity: 0.3;
	filter: alpha(opacity=30); */
}

.box-profile-active {
	opacity: 0.3;
	filter: alpha(opacity=30);
}
</style>

<div  ng-app ng-init="active=false">
        <div class="cb" ng-click="active = !active" ng-class="{'cb-active': active == true}">tab 1</div>
</div>

<div class="row">
	<!-- Left col -->
	<section class="col-lg-12 connectedSortable">

		<!-- Chat box -->
		<div class="box box-success">
			<div class="box-header">
				<i class="fa fa-edit"></i>
				<h3 class="box-title">Buscar un Servicio</h3>
			</div>

			<h2>Seccion Destacados. Work in progress.</h2>

			<div class="box box-warning" style="padding-top: 20px">

				<div class="row">
					<div class="col-md-12">
						<h3>Tipo de servicio</h3>

						<div class="col-md-0 col-lg-1"></div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile"
								ng-click="activeDJ = !activeDJ" ng-class="{'box-profile-active': activeDJ == true}">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/dj.png" alt="DJ">
									<h3 class="profile-username text-center">DJ</h3>
									
									<ul class="list-group list-group-unbordered">
										<li class="list-group-item"><b>Publicados</b> <a
											class="pull-right">{{publishedAmnt.DJ}}</a></li>
									</ul>
								</div>
							</div>
						</div>



						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile"
								ng-click="activeBebidas = !activeBebidas" ng-class="{'box-profile-active': activeBebidas == true}">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/drinks.png" alt="Drinks">
									<h3 class="profile-username text-center">Bebidas</h3>
									
									<ul class="list-group list-group-unbordered">
										<li class="list-group-item"><b>Publicados</b> <a
											class="pull-right">{{publishedAmnt.Bebidas}}</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile"
								ng-click="activeSalon = !activeSalon" ng-class="{'box-profile-active': activeSalon == true}">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/salon.png" alt="Salon">
									<h3 class="profile-username text-center">Salon</h3>
								
									<ul class="list-group list-group-unbordered">
										<li class="list-group-item"><b>Publicados</b> <a
											class="pull-right">{{publishedAmnt.Salon}}</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile"
								ng-click="activeSonido = !activeSonido" ng-class="{'box-profile-active': activeSonido == true}">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/sound.png" alt="Sound">
									<h3 class="profile-username text-center">Sonido</h3>
									
									<ul class="list-group list-group-unbordered">
										<li class="list-group-item"><b>Publicados</b> <a
											class="pull-right">{{publishedAmnt.Sonido}}</a></li>
									</ul>
								</div>
							</div>
						</div>

						<div class="col-xs-3 col-sm-3 col-md-3"></div>

						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-2">
							<div class="box box-primary">
								<div class="box-body box-profile"
								ng-click="activeAnimacion = !activeAnimacion" ng-class="{'box-profile-active': activeAnimacion == true}">
									<img class="profile-user-img img-responsive img-circle"
										src="dist/img/animacion.png" alt="Animacion"
										>
									<h3 class="profile-username text-center">Animacion</h3>
									
									<ul class="list-group list-group-unbordered">
										<li class="list-group-item"><b>Publicados</b> <a
											class="pull-right">{{publishedAmnt.Animacion}}</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<!-- /.box (chat box) -->
		<!-- TO DO List -->

	</section>
	<!-- /.Left col -->

</div>
<!-- /.row (main row) -->
